* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0d1117;
    font-family: Arial, sans-serif;
}

/* Navbar */
nav {
    padding: 20px 8%;
    border-bottom: 1px solid #30363d;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.Bashantatag {
    margin-right: auto;
    color: #00ff9c;
}

nav li {
    color: #aaa;
    cursor: pointer;
}


/* Main */
.container {
    min-height: 80vh;
    padding: 100px 10%;
    display: flex;
    align-items: center;
}

.detail-container {
    max-width: 600px;
    border-left: 3px solid #00ff9c;
    padding-left: 25px;
}

.detail-container h2 {
    font-size: 60px;
    color: white;
}

.detail-container h3 {
    color: #58a6ff;
    margin: 8px 0;
}

.detail-container h4{
    color: lightblue;
}



.detail-container p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color: #8b949e;
    line-height: 1.7;
    margin-top: 20px;
}

.pulse-dot {
    width: 10px;
    height: 10px;
    background: #00ff9c;
    border-radius: 50%;
    margin-left: 50px;
    box-shadow: 0 0 10px #00ff9c;
}

.user-online{
    padding:0px 0px;
    margin:0px 15px;
    color: aqua;
    font-family: 'Courier New', Courier, monospace;
    display:flex;
    
}

.view-projects{
    color: #58a6ff;
    display: inline-block;
    padding: 17px;
    border-radius: 10px;
    font-size:smaller;
    margin-right: 30px;
    margin-top:20px;
    background-color: black;
}

.contact-me{
    color: #58a6ff;
    display: inline-block;
    padding: 17px;
    margin-right:15px;
    border-color: #aaa;
    background-color: black;

    
}

.download-cv{
    color:#8b949e;
    display:inline-block;
    margin-left: 17px;
    padding: 17px;
}


.bottom{
    display: table;


}